body {
    background-image: url(img/5594016.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat; 
    font-family: 'Noto Sans TC', sans-serif;
}

#Container-Form-Cadastro{
    max-width: 35%;
    background-color: rgba(194, 191, 191, 0.8);
}
#Container-Form-Login{
    max-width: 20%;
    background-color: rgba(194, 191, 191, 0.8);
}

#Container-Form-Login h1{
    text-align: center;
}

#Container-Esqueceu-Senha{
    background-color: rgba(194, 191, 191, 0.8);
    max-width: 25%;
    font-size: large;
    color: rgb(0, 0, 0);
    margin-top: 200px;
}
/*Estilo para Links*/
#All-links{
    font-size: small;
    color: black;
}

#All-links:hover{
    color: blue
}

/*Estilo para Botoes*/
#All-buttons{
    padding: 10px;
    border: solid rgba(0, 0, 0, 0.8);
    width: 50%;
    border-radius: 1ch;
    background-color: rgba(253, 253, 253, 0.8);
}

#All-buttons:hover{
    border: solid blue;
    color: white;
    background-color: black;
}


/*Estilo para labels*/
#All-labels{
    color: rgb(0, 0, 0);
}
/*Estilo para Titulos*/
#All-titles{
    text-align: center;
}


