#Pagina-Cadastro h1 {
    text-align: center;
}

#Container-Form {
    max-width: 40%;
    background-color: rgba(142, 151, 144, 0.8);
}

label,
h1 {
    font-family: 'Recursive', sans-serif;
    color: #faf9f9;
}

body {
    background-image: url(img/5594016.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
}

button{
    background-color: rgba(0, 134, 29, 0.9);
    border-radius: 1rch;
    border: none;
    padding: 5px;
    width: 100px;
    color: white;
}

